In [1]:
import pandas as pd

## Native python accessors:

In [31]:
ipl_df = pd.read_csv("IPL_Ball_by_Ball_2008_2022.csv")
ipl_df.head()

,ID,innings,overs,ballnumber,batter,bowler,non-striker,extra_type,batsman_run,extras_run,total_run,non_boundary,isWicketDelivery,player_out,kind,fielders_involved,BattingTeam
0,1312200,1,0,1,YBK Jaiswal,Mohammed Shami,JC Buttler,NaN,0,0,0,0,0,NaN,NaN,NaN,Rajasthan Royals
1,1312200,1,0,2,YBK Jaiswal,Mohammed Shami,JC Buttler,legbyes,0,1,1,0,0,NaN,NaN,NaN,Rajasthan Royals
2,1312200,1,0,3,JC Buttler,Mohammed Shami,YBK Jaiswal,NaN,1,0,1,0,0,NaN,NaN,NaN,Rajasthan Royals
3,1312200,1,0,4,YBK Jaiswal,Mohammed Shami,JC Buttler,NaN,0,0,0,0,0,NaN,NaN,NaN,Rajasthan Royals
4,1312200,1,0,5,YBK Jaiswal,Mohammed Shami,JC Buttler,NaN,0,0,0,0,0,NaN,NaN,NaN,Rajasthan Royals

In [32]:
# Like objects' attributes: object.attribute
ipl_df.batter

0         YBK Jaiswal
1         YBK Jaiswal
2          JC Buttler
3         YBK Jaiswal
4         YBK Jaiswal
             ...
225949        P Kumar
225950       SB Joshi
225951        P Kumar
225952       SB Joshi
225953       SB Joshi
Name: batter, Length: 225954, dtype: object

In [33]:
# Like Dictionary : dict["key"]
ipl_df["batter"]
ipl_df["batter"][0]

'YBK Jaiswal'

## Indexing in panads:
loc and iloc:
1) index-based selection (iloc)
2) lable based selection (loc)

- Specially used for more advanced operations.

## Important:
iloc uses the Python stdlib indexing scheme, where the first element of the range is included and the last one excluded. So 0:10 will select entries 0,...,9. loc, meanwhile, indexes inclusively. So 0:10 will select entries 0,...,10

In [34]:
ipl_df.iloc[0]

ID                            1312200
innings                             1
overs                               0
ballnumber                          1
batter                    YBK Jaiswal
bowler                 Mohammed Shami
non-striker                JC Buttler
extra_type                        NaN
batsman_run                         0
extras_run                          0
total_run                           0
non_boundary                        0
isWicketDelivery                    0
player_out                        NaN
kind                              NaN
fielders_involved                 NaN
BattingTeam          Rajasthan Royals
Name: 0, dtype: object

Note: Both loc and iloc are row-first, column-second. This is the opposite of what we do in native Python, which is column-first, row-second.

This means that it's marginally easier to retrieve rows, and marginally harder to get retrieve columns.

In [35]:
# to access columns using iloc:
ipl_df.iloc[:,4]

0         YBK Jaiswal
1         YBK Jaiswal
2          JC Buttler
3         YBK Jaiswal
4         YBK Jaiswal
             ...
225949        P Kumar
225950       SB Joshi
225951        P Kumar
225952       SB Joshi
225953       SB Joshi
Name: batter, Length: 225954, dtype: object

In [36]:
# indexing with lists:
ipl_df.iloc[[1,2,5],5:]

,bowler,non-striker,extra_type,batsman_run,extras_run,total_run,non_boundary,isWicketDelivery,player_out,kind,fielders_involved,BattingTeam
1,Mohammed Shami,JC Buttler,legbyes,0,1,1,0,0,NaN,NaN,NaN,Rajasthan Royals
2,Mohammed Shami,YBK Jaiswal,NaN,1,0,1,0,0,NaN,NaN,NaN,Rajasthan Royals
5,Mohammed Shami,JC Buttler,NaN,0,0,0,0,0,NaN,NaN,NaN,Rajasthan Royals

In [37]:
# indexing by negative numbers:
ipl_df.iloc[-5:,:] # last five records

,ID,innings,overs,ballnumber,batter,bowler,non-striker,extra_type,batsman_run,extras_run,total_run,non_boundary,isWicketDelivery,player_out,kind,fielders_involved,BattingTeam
225949,335982,2,14,5,P Kumar,I Sharma,SB Joshi,legbyes,0,1,1,0,0,NaN,NaN,NaN,Royal Challengers Bangalore
225950,335982,2,14,6,SB Joshi,I Sharma,P Kumar,NaN,1,0,1,0,0,NaN,NaN,NaN,Royal Challengers Bangalore
225951,335982,2,14,7,P Kumar,I Sharma,SB Joshi,NaN,0,0,0,0,0,NaN,NaN,NaN,Royal Challengers Bangalore
225952,335982,2,15,1,SB Joshi,LR Shukla,P Kumar,wides,0,1,1,0,0,NaN,NaN,NaN,Royal Challengers Bangalore
225953,335982,2,15,2,SB Joshi,LR Shukla,P Kumar,NaN,0,0,0,0,1,SB Joshi,caught,BB McCullum,Royal Challengers Bangalore

In [38]:
# Index manipultion:
# ipl_df.set_index("batter")

In [39]:
# Conditional Selection:
ipl_df.batter == "JC Buttler"

0         False
1         False
2          True
3         False
4         False
          ...
225949    False
225950    False
225951    False
225952    False
225953    False
Name: batter, Length: 225954, dtype: bool

In [41]:
ipl_df.loc[ipl_df.batter == "JC Buttler"].head()

,ID,innings,overs,ballnumber,batter,bowler,non-striker,extra_type,batsman_run,extras_run,total_run,non_boundary,isWicketDelivery,player_out,kind,fielders_involved,BattingTeam
2,1312200,1,0,3,JC Buttler,Mohammed Shami,YBK Jaiswal,NaN,1,0,1,0,0,NaN,NaN,NaN,Rajasthan Royals
6,1312200,1,1,1,JC Buttler,Yash Dayal,YBK Jaiswal,NaN,0,0,0,0,0,NaN,NaN,NaN,Rajasthan Royals
7,1312200,1,1,2,JC Buttler,Yash Dayal,YBK Jaiswal,NaN,0,0,0,0,0,NaN,NaN,NaN,Rajasthan Royals
8,1312200,1,1,3,JC Buttler,Yash Dayal,YBK Jaiswal,NaN,4,0,4,0,0,NaN,NaN,NaN,Rajasthan Royals
9,1312200,1,1,4,JC Buttler,Yash Dayal,YBK Jaiswal,NaN,0,0,0,0,0,NaN,NaN,NaN,Rajasthan Royals

In [48]:
### Anding (&)
ipl_df.loc[(ipl_df.batter == "JC Buttler") & (ipl_df.batsman_run > 4)]
# or (|)

,ID,innings,overs,ballnumber,batter,bowler,non-striker,extra_type,batsman_run,extras_run,total_run,non_boundary,isWicketDelivery,player_out,kind,fielders_involved,BattingTeam
377,1312199,2,2,6,JC Buttler,Mohammed Siraj,YBK Jaiswal,NaN,6,0,6,0,0,NaN,NaN,NaN,Rajasthan Royals
386,1312199,2,4,3,JC Buttler,Shahbaz Ahmed,YBK Jaiswal,NaN,6,0,6,0,0,NaN,NaN,NaN,Rajasthan Royals
388,1312199,2,4,5,JC Buttler,Shahbaz Ahmed,YBK Jaiswal,NaN,6,0,6,0,0,NaN,NaN,NaN,Rajasthan Royals
453,1312199,2,15,4,JC Buttler,PWH de Silva,D Padikkal,NaN,6,0,6,0,0,NaN,NaN,NaN,Rajasthan Royals
455,1312199,2,15,6,JC Buttler,PWH de Silva,D Padikkal,NaN,6,0,6,0,0,NaN,NaN,NaN,Rajasthan Royals
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
100411,980927,2,15,2,JC Buttler,Iqbal Abdulla,KA Pollard,NaN,6,0,6,0,0,NaN,NaN,NaN,Mumbai Indians
100412,980927,2,15,3,JC Buttler,Iqbal Abdulla,KA Pollard,NaN,6,0,6,0,0,NaN,NaN,NaN,Mumbai Indians
102525,980909,2,14,6,JC Buttler,GB Hogg,RG Sharma,NaN,6,0,6,0,0,NaN,NaN,NaN,Mumbai Indians
102529,980909,2,15,4,JC Buttler,AD Russell,RG Sharma,NaN,6,0,6,0,0,NaN,NaN,NaN,Mumbai Indians
102530,980909,2,15,5,JC Buttler,AD Russell,RG Sharma,NaN,6,0,6,0,0,NaN,NaN,NaN,Mumbai Indians

## isin, isnull, notnull()

In [52]:
ipl_df.overs.isin([4])

0         False
1         False
2         False
3         False
4         False
          ...
225949    False
225950    False
225951    False
225952    False
225953    False
Name: overs, Length: 225954, dtype: bool

In [55]:
ipl_df.loc[ipl_df.overs.isin([19])]

,ID,innings,overs,ballnumber,batter,bowler,non-striker,extra_type,batsman_run,extras_run,total_run,non_boundary,isWicketDelivery,player_out,kind,fielders_involved,BattingTeam
114,1312200,1,19,1,R Parag,Mohammed Shami,OC McCoy,NaN,0,0,0,0,0,NaN,NaN,NaN,Rajasthan Royals
115,1312200,1,19,2,R Parag,Mohammed Shami,OC McCoy,NaN,2,0,2,0,0,NaN,NaN,NaN,Rajasthan Royals
116,1312200,1,19,3,R Parag,Mohammed Shami,OC McCoy,NaN,4,0,4,0,0,NaN,NaN,NaN,Rajasthan Royals
117,1312200,1,19,4,R Parag,Mohammed Shami,OC McCoy,NaN,1,0,1,0,1,OC McCoy,run out,R Tewatia,Rajasthan Royals
118,1312200,1,19,5,R Parag,Mohammed Shami,M Prasidh Krishna,NaN,0,0,0,0,0,NaN,NaN,NaN,Rajasthan Royals
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
225848,335982,1,19,2,BB McCullum,P Kumar,Mohammad Hafeez,NaN,6,0,6,0,0,NaN,NaN,NaN,Kolkata Knight Riders
225849,335982,1,19,3,BB McCullum,P Kumar,Mohammad Hafeez,NaN,2,0,2,0,0,NaN,NaN,NaN,Kolkata Knight Riders
225850,335982,1,19,4,BB McCullum,P Kumar,Mohammad Hafeez,NaN,0,0,0,0,0,NaN,NaN,NaN,Kolkata Knight Riders
225851,335982,1,19,5,BB McCullum,P Kumar,Mohammad Hafeez,NaN,2,0,2,0,0,NaN,NaN,NaN,Kolkata Knight Riders
225852,335982,1,19,6,BB McCullum,P Kumar,Mohammad Hafeez,NaN,6,0,6,0,0,NaN,NaN,NaN,Kolkata Knight Riders

# Assigning data:

## assign constant or iterable values: